#loaderdiv {
    position: absolute;
    background: white url('http://sampsonresume.com/labs/pIkfp.gif') no-repeat center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ldio-2ho1tpded2u {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldio-2ho1tpded2u div {
    left: 51.7px;
    top: 24.200000000000003px;
    position: absolute;
    animation: ldio-2ho1tpded2u linear 1s infinite;
    background: #fe718d;
    width: 6.6000000000000005px;
    height: 17.6px;
    border-radius: 3.3000000000000003px / 8.8px;
    transform-origin: 3.3000000000000003px 30.800000000000004px;
}

.ldio-2ho1tpded2u div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9090909090909091s;
    background: #fe718d;
}

.ldio-2ho1tpded2u div:nth-child(2) {
    transform: rotate(32.72727272727273deg);
    animation-delay: -0.8181818181818182s;
    background: #fe718d;
}

.ldio-2ho1tpded2u div:nth-child(3) {
    transform: rotate(65.45454545454545deg);
    animation-delay: -0.7272727272727273s;
    background: #fe718d;
}

.ldio-2ho1tpded2u div:nth-child(4) {
    transform: rotate(98.18181818181819deg);
    animation-delay: -0.6363636363636364s;
    background: #fe718d;
}

.ldio-2ho1tpded2u div:nth-child(5) {
    transform: rotate(130.9090909090909deg);
    animation-delay: -0.5454545454545454s;
    background: #fe718d;
}

.ldio-2ho1tpded2u div:nth-child(6) {
    transform: rotate(163.63636363636363deg);
    animation-delay: -0.45454545454545453s;
    background: #fe718d;
}

.ldio-2ho1tpded2u div:nth-child(7) {
    transform: rotate(196.36363636363637deg);
    animation-delay: -0.36363636363636365s;
    background: #fe718d;
}

.ldio-2ho1tpded2u div:nth-child(8) {
    transform: rotate(229.0909090909091deg);
    animation-delay: -0.2727272727272727s;
    background: #fe718d;
}

.ldio-2ho1tpded2u div:nth-child(9) {
    transform: rotate(261.8181818181818deg);
    animation-delay: -0.18181818181818182s;
    background: #fe718d;
}

.ldio-2ho1tpded2u div:nth-child(10) {
    transform: rotate(294.54545454545456deg);
    animation-delay: -0.09090909090909091s;
    background: #fe718d;
}

.ldio-2ho1tpded2u div:nth-child(11) {
    transform: rotate(327.27272727272725deg);
    animation-delay: 0s;
    background: #fe718d;
}

.loadingio-spinner-spinner-hwqa8bbtkw9 {
    width: 110px;
    height: 110px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.ldio-2ho1tpded2u {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    
}

.ldio-2ho1tpded2u div {
    box-sizing: content-box;
}