/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #F6F6F6;
} */

.prodpagediv {
    max-width: max-content;
    margin: auto;
    display: flex;
}

.filterdiv {
    width: 188px;
    height: fit-content;
    margin-top: 19px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 7px 0px;
}

.mainprodcontainer {
    padding: 15px;
}

.prodtopdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prodsortdiv {
    display: flex;
    align-items: center;
}

.sortselect {
    height: 30px;
    width: 198px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 7px 0px;
}

.prodContainer {
    display: grid;
    grid-template-columns: repeat(4, 249px);
    gap: 20px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.prodBox {
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 12px;
    gap: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 0px 7px 0px;
}

.prodBox>img {
    width: fit-content;
    height: fit-content;
    margin: auto;
    cursor: pointer;
}

.prodName {
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prodDesc {
    font-size: 12px;
    line-height: 17px;
    color: #757575;
}

.ratingDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    line-height: 17px;
}

.ratingDiv>div {
    background-color: #1AAB2A;
    color: white;
    padding: 3px;
    border-radius: 3px;
    font-weight: bold;
}

.ratingDiv>p {
    color: #757575;
}

#discount {
    color: #1AAB2A;
    font-weight: bold;
}

.priceDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 25px;
}

.priceDiv>button {
    border: none;
    background-color: white;
    color: #FF6F61;
    font-weight: bold;
    cursor: pointer;
}

.pagination {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    margin-bottom: 50px;
}

.numcolor {
    color: #FF6F61;
}

.othernum {
    cursor: pointer;
}

.othernum:hover {
    color: #FF6F61;
}